    <!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">

          <header>
            <h2>{{ SITENAME }}</h2>
          </header>
          <p>{{ SITENAME }}<strong>by @timger</strong>的作品展示页面<br />
          ........<br />
          by <a href="http://weibo.com/zhanghaibo">@timger</a>.</p>
          <footer>
            <ul class="buttons vertical">
              <li><a href="#main" class="button fit scrolly">更多</a></li>
            </ul>
          </footer>

        </div>

      </section>